*{
  
  padding:0;
  margin:0;
  line-height: 1.2;
  box-sizing: border-box;
}

main{
  height: 100vh;
}
.body{
  display:flex;
  justify-content: center;
  align-items: center;
}

.form{
  height:fit-content;
  width:30%;
  margin-top: 20px;
  background-color: burlywood;
  border:black solid 1px;
  padding:10px;
 /* border:4px solid green */
}
 .section-a{
   display:flex;
   justify-content: center;
   align-items: center;
 }

 .section-a img{
   width:30%;
   margin-top:5px
 }

 .intro-text {
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top:5px
 }

 textarea{
   width:100%;
   height:20px;
   background: transparent;
   border:none;
   margin-top:5px;
   border-bottom:1px solid black
 }

 textarea::placeholder{
   color:black;
   font-size: large;
 }

 footer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:5px;
}

footer h5,p,h4{
  margin-top:7.5px
}

button{
  display:block;
  margin:0 auto;
  width:30%;
  height: 100%;
}

@media(max-width:760px){
  .form{
    width:100%;
    height:100%;
    margin-top:0;
  }

  .btn{
    height:fit-content
  }

  .feedback-options{
    padding:2rem 0;
  }
}